# % macro, __doc__, Template to define gap demand PV
# % macro, prefix, pv prefix e.g. TS02K-MO-

record(ai, "$(prefix)SERVC-01:GAPD")
{
  field(DESC, "Gap demand")
  field(PREC, "4")
}

record(calcout, "$(prefix)SERVC-01:GAPSET")
{
  field(DESC, "Gap set")
  field(INPA, "$(prefix)SERVC-01:GAPD")
  field(CALC, "A")
  field(OUT, "$(prefix)SERVC-01:CS:GAP PP")
}


# Enable axis compare test
#% archiver 1 Monitor
record(calc, "$(prefix)SERVC-01:OKENA")
{
  field(SCAN, ".5 second")
  field(CALC, "(B&&C)")
  field(INPB, "$(prefix)SERVC-01:ALLDMOV CPP")
  field(INPC, "$(prefix)STAT-01:NMSTOP:BI CPP")
  field(FLNK, "$(prefix)SERVC-01:OKENAFAN")
}

record(fanout, "$(prefix)SERVC-01:OKENAFAN") {
  field(SCAN, "Passive")
  field(SELM, "All")
  field(LNK1, "$(prefix)SERVO-01:POSOK")
  field(LNK2, "$(prefix)SERVO-02:POSOK")
  field(LNK3, "$(prefix)SERVO-03:POSOK")
  field(LNK4, "$(prefix)SERVO-04:POSOK")
  field(LNK5, "$(prefix)SERVC-01:ALLOK")
}

# Global DMOV across all axes.
#% archiver 1 Monitor
record(calc, "$(prefix)SERVC-01:ALLDMOV") {
  field(SCAN, "Passive")
  field(CALC, "(A&&B&&C&&D)")
  field(INPA, "$(prefix)SERVO-01:MOT.DMOV CPP NMS")
  field(INPB, "$(prefix)SERVO-02:MOT.DMOV CPP NMS")
  field(INPC, "$(prefix)SERVO-03:MOT.DMOV CPP NMS")
  field(INPD, "$(prefix)SERVO-04:MOT.DMOV CPP NMS")
}

# Concatenate all ok flags
#% archiver 1 Monitor
record(calc, "$(prefix)SERVC-01:ALLOK") {
  field(SCAN, "Passive")
  field(CALC, "(A&B&C&D)")
  field(INPA, "$(prefix)SERVO-01:POSOK CPP NMS")
  field(INPB, "$(prefix)SERVO-02:POSOK CPP NMS")
  field(INPC, "$(prefix)SERVO-03:POSOK CPP NMS")
  field(INPD, "$(prefix)SERVO-04:POSOK CPP NMS")
  field(LOW, "0.5")
  field(LSV, "MAJOR")
  field(HYST, "0")
}
