# template to propagate stop, pause, move, go

# [ 0] Stop
# [ 1] Pause
# [ 2] Move
# [ 3] Go
# % macro, name, gui component name
# % macro, prefix, pv prefix e.g. TS02K-MO-

# % gui, $(name), edm, IDM_defer.edl

record(mbbo, "$(prefix)SERVC-01:DEFER") {
  field(ZRVL, "0")
  field(ONVL, "1")
  field(TWVL, "2")
  field(THVL, "3")
  field(ZRST, "Stop")
  field(ONST, "Pause")
  field(TWST, "Move")
  field(THST, "Go")
  field(OUT, "$(prefix)SERVC-01:MDFAN PP")
}

record(dfanout, "$(prefix)SERVC-01:MDFAN") {
  field(OUTA, "$(prefix)SERVO-01:MOT.SPMG")
  field(OUTB, "$(prefix)SERVO-02:MOT.SPMG")
  field(OUTC, "$(prefix)SERVO-03:MOT.SPMG")
  field(OUTD, "$(prefix)SERVO-04:MOT.SPMG")
}

